@import '../../../sass/abstracts/variables';

.form {
  min-height: 100vh;
  min-width: 100vw;
  padding: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__body {
    --form-body-background-color: hsl(20, 30%, 94%);
    --form-body-bottom-panel-background-color: hsl(10, 20%, 90%);
    --form-body-inner-border: 1px solid hsl(10, 10%, 80%);

    width: 46rem;
    border-radius: 1rem;

    background-color: $color-grey-light-1;

    overflow: hidden;
  }

  &__wrapper {
    padding: 3rem 4rem;
    background-color: inherit;
  }

  &__content {
    margin-top: 2rem;
    background-color: inherit;
  }

  &__header {
    color: $color-primary;

    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-align: center;
  }
}
