@import '../../../sass/abstracts/variables';

.settings {
  padding: 3rem 0;

  @media only screen and (max-width: $bp-largest) {
    padding: 2rem;
  }

  &__header {
    color: $color-grey-dark-3;
    font-size: 3.8rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 3.4rem;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__content {
    display: flex;
  }
}
