@import '../../../sass/abstracts/variables';

.failure-form {
  &__button-outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__button-inner-wrapper {
    width: 100%;
    max-width: 23rem;
    // width: 100%;
    // margin: 0 auto;
  }
}
