@import '../../../../sass/abstracts/variables';

.signup-section {
  background-color: $color-grey-light-2;
  color: rgba($color-grey-dark-3, 0.65);

  margin-top: -3rem;

  padding: 2.5rem 0;
  border-top: 1px solid rgba($color-grey-dark, 0.3);

  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.06rem;

  &__link {
    color: $color-primary;

    display: inline-block;
    margin: 0 1rem;
  }
}
